<div class="container">
  <ul>
    <p>
      <span class="material-icons-outlined">widgets</span>
      MF MENU
    </p>
    <li><a routerLink="/">
      <span class="material-icons-outlined">home</span>
      Home
    </a></li>
    <li><a routerLink="/application1">
      <span class="material-icons-outlined">looks_one</span>
      App 1
    </a></li>
    <li><a routerLink="/application2">
      <span class="material-icons-outlined">looks_two</span>
      App 2
    </a></li>
  </ul>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
