:host {
  .container {
    display: flex;
    flex-direction: row;

    .content {
      max-width: calc(100vw - 200px);
      width: 100%;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-color: #f1f1f1;
    p {
      text-align: center;
      font-weight: bold;
    }
    li {
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none;
        padding: 8px 16px;
        span {
          margin-right: 8px;
        }
      }
      a:hover {
        background-color: #555;
        color:white;
      }
    }
  }
}