/* You can add global styles to this file, and also import other style files */

body {
  margin: 0px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #003B6D;
  --primary-color-rgb: 0, 59, 109;
  --secondary-color: #428EDC;
  --secondary-color-rgb: 66, 142, 220;
  --accent-color: #00BA80;
  --accent-color-rgb: 0, 186, 128;
  --primary-text-color: #65A4CB;
  --seconday-text-color: #B7CBDE;
  --subtitle-text-color: #737373;
  --disabled-color: #AEAEAE;
  --background-color:#F2F5F8;
}

h1 {
  color: var(--primary-color);
  text-transform: uppercase;
}